/* Circe */

@font-face {
    font-family: 'Circe';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-THIN.woff2'),
        url('../assets/fonts/CIRCE-THIN.woff'),
        url('../assets/fonts/CIRCE-THIN.ttf');
}

@font-face {
    font-family: 'Circe';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-EXTRALIGHT.woff2'),
        url('../assets/fonts/CIRCE-EXTRALIGHT.woff'),
        url('../assets/fonts/CIRCE-EXTRALIGHT.ttf');
}

@font-face {
    font-family: 'Circe';
    font-weight: 350;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-LIGHT.woff2'),
        url('../assets/fonts/CIRCE-LIGHT.woff'),
        url('../assets/fonts/CIRCE-LIGHT.ttf');
}

@font-face {
    font-family: 'Circe';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-REGULAR.woff2'),
        url('../assets/fonts/CIRCE-REGULAR.woff'),
        url('../assets/fonts/CIRCE-REGULAR.ttf');
}

@font-face {
    font-family: 'Circe';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-BOLD.woff2'),
        url('../assets/fonts/CIRCE-BOLD.woff'),
        url('../assets/fonts/CIRCE-BOLD.ttf');
}

@font-face {
    font-family: 'Circe';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/CIRCE-EXTRABOLD.woff2'),
        url('../assets/fonts/CIRCE-EXTRABOLD.woff'),
        url('../assets/fonts/CIRCE-EXTRABOLD.ttf');
}

/* Monument Extended */

@font-face {
    font-family: 'Monument Extended';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/MONUMENTEXTENDED-REGULAR.woff2'),
        url('../assets/fonts/MONUMENTEXTENDED-REGULAR.woff'),
        url('../assets/fonts/MONUMENTEXTENDED-REGULAR.ttf');
}

@font-face {
    font-family: 'Monument Extended';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/MONUMENTEXTENDED-ULTRABOLD.woff2'),
        url('../assets/fonts/MONUMENTEXTENDED-ULTRABOLD.woff'),
        url('../assets/fonts/MONUMENTEXTENDED-ULTRABOLD.ttf');
}

/* TOXIGENESIS */

@font-face {
    font-family: 'Toxigenesis';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/TOXIGENESIS-BOLD.woff2'),
        url('../assets/fonts/TOXIGENESIS-BOLD.woff'),
        url('../assets/fonts/TOXIGENESIS-BOLD.ttf');
}